---
---

@import "minima";

/* Custom styles */

// Page layout =================================================================

.site-header, .page-content {
    width: 50%;
    background-color: #efedbf;
}

.site-header {
    padding-top: 30px;
    padding-bottom: 60px;
}

// Text ========================================================================

h1 {
    font-size: 31px;
}

p {
    font-size: 18px;
    text-align: left;
    line-height: 1.8;
    margin-bottom: 30px;
}

blockquote {
    font-style: normal;
}

// Horizontal line =============================================================

hr {
    margin-top: 50px;
    margin-bottom: 40px;
}

// Mobile fixes ================================================================

@media (orientation: portrait) {
    .site-header, .page-content {
        width: 100%
    }
  }

@media (max-width: 800px) {
    .site-header, .page-content {
        width: 90%
    }
  }