---
---

@import "minima";

/* Custom styles */

// Page layout =================================================================

.site-header, .page-content {
    width: 50%;
}

// Text ========================================================================

h1 {
    font-size: 31px;
}

p {
    font-size: 18px;
    text-align: justify;
    line-height: 1.8;
    margin-bottom: 30px;
}

// Horizontal line =============================================================

hr {
    margin-top: 50px;
    margin-bottom: 40px;
}

// Mobile fixes ================================================================

@media (max-width: 1000px ) or (orientation: portrait) {
    .site-header, .page-content {
        width: 90%
    }
  }